<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>Document</title>
	<link rel="stylesheet" href="css/tab.css">
	<link rel="stylesheet" href="css/Hinfo.css">
	<link rel="stylesheet" href="css/description.css">
	<link rel="stylesheet" href="css/facilities.css">
	<link rel="stylesheet" href="css/upload.css">
	<link rel="stylesheet" href="css/rule.css">
	<link rel="stylesheet" href="footer.css">
</head>
<body>
	 <div id="app">
		<div id="header"><img src="images/headerbg.png" alt=""></div>
		<div id="content">
			<mytab></mytab>
		</div>
		<div id="footer">
			<div class="foot">
			<span class="foot_T">关注我们<br>虽然没有但还是可以关注一下</span>
			 <ul class="see_ul">
		        <li><a href="#ongo" class="icon_wx indexdialogpic" name="focusus"></a></li>
		        <li><a href="http://weibo.com/xzduanzu" target="_blank" class="icon_wb"></a></li>
    		</ul>
    		<ul class="foot_ul">
		        <li><a class="guide" href="http://www.xiaozhu.com/xzweb.php?op=Help_UserGuide&amp;type=tenant" target="_blank">房客指南</a></li>
		        <li><a class="guide icon_fk" href="http://www.xiaozhu.com/xzweb.php?op=Help_UserGuide&amp;type=landlord" target="_blank">房东指南</a></li>
		        <li>
		            <span class="guide_T">关于我们</span>
		            <a href="http://www.xiaozhu.com/aboutus" target="_blank">关于侣租</a>
		            <a href="http://www.xiaozhu.com/contactus" target="_blank">联系我们</a>
		        </li>
		        <li>
		            <span class="guide_T">网站帮助</span>
		            <a href="http://www.xiaozhu.com/help/index" target="_blank">帮助中心</a>
		            <a href="http://www.xiaozhu.com/sitemap.html" target="_blank">网站地图</a>
		        </li>
		        <li class="width_280">
		            <span class="guide_T">网站协议</span><br>
		            <a href="http://www.xiaozhu.com/help/service" target="_blank">服务协议</a>
		            <a href="http://www.xiaozhu.com/help/landlordRule" target="_blank">房东规则</a>
		            <a href="http://www.xiaozhu.com/help/tenantRule" target="_blank">房客规则</a>
		            <a href="http://www.xiaozhu.com/help/auditRule" target="_blank">房源上线标准</a>
		            <a href="http://www.xiaozhu.com/help/privacy" target="_blank">隐私保护</a>
		            <a href="http://www.xiaozhu.com/help/copyright" target="_blank">版权声明</a>
		            <a href="http://www.xiaozhu.com/help/disclaimer" target="_blank">免责声明</a>
		            <a href="http://www.xiaozhu.com/help/intellectualProperty" target="_blank">知识产权声明</a>
		            <a href="http://www.xiaozhu.com/help/commentRule" target="_blank">点评发布规则</a>
		        </li>
		        <li class="width_100 bigFont">
		            <span class="guide_T">客服电话</span><br>
		            400  8320  8820
		        </li>
		        <li class="width_100 bigFont">
		            <span class="guide_T">客服邮箱</span><br>
		            service@lvzu.com
		        </li>
    		</ul>
			<dl class="link_dl">
		        <dt>城市导航</dt>
		        <dd>
		            <a target="_blank" href="http://bj.xiaozhu.com/">北京短租房</a>
		            <a target="_blank" href="http://sh.xiaozhu.com/">上海短租房</a>
		            <a target="_blank" href="http://nj.xiaozhu.com/">南京短租房</a>
		            <a target="_blank" href="http://cd.xiaozhu.com/">成都短租房</a>
		            <a target="_blank" href="http://gz.xiaozhu.com/">广州短租房</a>
		            <a target="_blank" href="http://cq.xiaozhu.com/">重庆短租房</a>
		            <a target="_blank" href="http://wh.xiaozhu.com/">武汉短租房</a>
		            <a target="_blank" href="http://dl.xiaozhu.com/">大连短租房</a>
		            <a target="_blank" href="http://sanya.xiaozhu.com/">三亚短租房</a>
		            <a target="_blank" href="http://lijiang.xiaozhu.com/">丽江短租房</a>
		            <a target="_blank" href="http://tj.xiaozhu.com/">天津短租房</a>
		            <a target="_blank" href="http://xianggang.xiaozhu.com/">香港短租房</a>
		            <a target="_blank" href="http://cs.xiaozhu.com/">长沙短租房</a>
		            <a target="_blank" href="http://wx.xiaozhu.com/">无锡短租房</a>
		            <a target="_blank" href="http://km.xiaozhu.com/">昆明短租房</a>
		            <a target="_blank" href="http://jn.xiaozhu.com/">济南短租房</a>
		            <a target="_blank" href="http://xm.xiaozhu.com/">厦门短租房</a>
		            <a target="_blank" href="http://qd.xiaozhu.com/">青岛短租房</a>
		            <a target="_blank" href="http://zz.xiaozhu.com/">郑州短租房</a>
		            <a target="_blank" href="http://xa.xiaozhu.com/">西安短租房</a>
		            <a target="_blank" href="http://hz.xiaozhu.com/">杭州短租房</a>
		            <a target="_blank" href="http://sz.xiaozhu.com/">深圳短租房</a>
		            <a target="_blank" href="http://sy.xiaozhu.com/">沈阳短租房</a>
		            <a target="_blank" href="http://su.xiaozhu.com/">苏州短租房</a>
		        </dd>
		    </dl>
		    <dl class="link_dl">
		        <dt>友情链接</dt>
		        <dd>
		            <a target="_blank" href="http://www.yixia.com/">一下科技</a>
		            <a target="_blank" href="http://www.ibantang.com">半糖</a>
		            <a target="_blank" href="http://www.tianxun.com/">天巡网</a>
		            <a target="_blank" href="http://nj.tuniu.com/">南京旅游网</a>
		            <a target="_blank" href="http://www.yododo.cn/">多多驿站</a>
		            <a target="_blank" href="http://tianjin.8684.cn/">天津公交</a>
		            <a target="_blank" href="http://hangzhou.fangtoo.com/">杭州房产网</a>
		            <a target="_blank" href="http://lvyou.mangocity.com/">旅游网</a>
		            <a target="_blank" href="http://www.82222919.com/">深圳旅行社</a>
		            <a target="_blank" href="http://www.pintour.com/">驴友</a>
		            <a target="_blank" href="http://www.mengyoo.com/">国内旅游</a>
		            <a target="_blank" href="http://www.sfkkkkkkkkk.com/">沙发客</a>
		            <a target="_blank" href="http://www.57go.com/">四川旅游</a>
		            <a target="_blank" href="http://www.shidu.cn/">十渡旅游</a>
		            <a target="_blank" href="http://bengbu.cncn.com/">蚌埠旅游</a>
		            <a target="_blank" href="http://www.keyunzhan.com/chuzuche/">出租车电话</a>
		            <a target="_blank" href="http://sh.to8to.com/">上海装修网</a>
		            <a target="_blank" href="http://www.tieyou.com/fuxiagaotie/">福厦高铁</a>
		            <a target="_blank" href="http://www.yidujia.com/">产权式酒店</a>
		        </dd>
		    </dl>
			 	
			</div>
		</div>
	 </div>

	<!-- 选项卡组件 -->
	 <template id="tab">
	 <div>
		<div class="top">
		    <ul class="tabs">
			  <li :class="{active:index==$store.state.tab.curIndex}" v-for="(item,index) in items" @click='$store.commit("tab/changeTab",index)'>{{item.name}}</li>
		    </ul>
		 </div>
		<div class="bottom">
			<div class="details" v-for="(item,index) in items" v-show='index==$store.state.tab.curIndex' ></div>
				<!-- 五个页面的注册引入 -->
				<Hinfos v-show="$store.state.tab.curTab==0"></Hinfos>
				<descriptions v-show="$store.state.tab.curTab==1"></descriptions>
				<myfacilities v-show="$store.state.tab.curTab==2"></myfacilities>
				<uploads v-show="$store.state.tab.curTab==3"></uploads>	
				<pricerule v-show="$store.state.tab.curTab==4"></pricerule>			
			</div>
		</div>
	 </template>

    <!-- 房源信息组件 -->
	<template id="Hinfo">
	<ul class="hinfo">
		<h3>房源信息</h3>
		<hr>
		<li v-for='item in items'>
			<label :for="'r_'+item.class" v-text="item.name+':'"></label>
			<select v-if="item.type=='select'" :id="'r_'+item.name " v-model="hinfoItem['info_'+item.class]" >
				<option v-for="opt in item.options" :value="opt.value" v-text="opt.name"></option>
			</select>

			<template v-else-if="item.type=='radio'" >
				<template v-for="opt in item.options">
					<input type="radio" :id="'r_'+item.class" :name='item.name' :value="opt.value" v-model="hinfoItem['info_'+item.class]" >
					<span v-text="opt.name"></span>
				</template>
			</template>
			<!-- "hinfoItem.scale[opt.value]" -->
			<template v-else-if="'r_'+item.class=='r_scale'" >
				<template v-for="opt in item.options">
					<input type="text" :id="'r_'+item.class" :value="opt.value" v-model="hinfoItem.scale[opt.value]">
					<span v-text="opt.name" :id="'t_'+item.class"></span>
				</template>
			</template>
			<input v-else type="text" :id="'r_'+item.class" v-model="hinfoItem['info_'+item.class]"  >
		</li>
		<input class="button" type="button" value='保存并继续' @click="saveComplete" >
	</ul>
	</template>

	<!-- onfocus="this.placeholder=''" -->
	<!-- 房源描述组件 -->
	<template id="description">
		<ul class="desc">
			<h3>房源描述</h3>
			<hr>
			<li class="_desc" v-for='item in items'>
				<label :for="'r_'+item.class" v-text="item.name+':'"></label>
				<textarea name="" id="" cols="80" rows="10" v-if="item.type=='textarea'"  :placeholder="item.write" v-model="desItem['des_'+item.class]" ></textarea>
				<input v-else type="text" :id="'r_'+item.class" :placeholder="item.write" v-model="desItem['des_'+item.class]">
			</li>
		<input class="button" type="button" value='保存并继续' @click="saveComplete">
	</ul>
	</template>

	<!-- 配套设施组件 -->
	<template id="facilities">
		<ul class="fac">
			<h3>配套设施</h3>
			<hr>
			<li class='_fac' v-for='item in items'>
				<label :for="'r_'+item.name" v-text="item.name+':'"></label>
					<template v-for="opt in item.options">
					<input class="m_checkbox" type="checkbox" :id="'r_'+item.class" v-model="facItem['fac_'+item.class]" :value="opt.value">
					<span class='s_fac' v-text="opt.name"></span>
				</template>
			</li>
		<input class="button" type="button" value='保存并继续' @click="saveComplete" >
		</ul>
	</template>

	<!-- 真实照片组件 -->
	<template id="upload">
	<div class="bbox">
		<h3>真实照片</h3>
		<hr>
		<div class="box">
			<input type="file" id="photo">
			<label for="photo" class="la"></label>
			<i class="iconfont"><img src="images/upload.png" alt=""></i>
		</div>	
		<input type="submit" value="上传" class="btn">  
	</div>
	</template>

	<!-- 价格规则组件 -->
	<template id="rule">
		<ul class="prru">
			<h3>价格规则</h3>
			<hr>
			<li v-for='item in items'>
				<label :for="'r_'+item.name" v-text="item.name+':'"></label>
				<textarea v-if="item.type=='textarea'" name="" id="" cols="80" rows="10"  :placeholder="item.write" onfocus="this.placeholder=''" v-model="ruleItem['rule_'+item.class]"></textarea>
				
				<template v-else-if="item.type=='radio'" >
					<template v-for="opt in item.options">
						<input class='r_radio' type="radio" :id="'r_'+item.class" :name='item.name' :value="opt.value" v-model="ruleItem['rule_'+item.class]">
						<span v-text="opt.name"></span>
					</template>
				</template>

				<template v-else="item.type=='text'" >
					<template v-for="opt in item.options">
						<input class='r_text' type="text" :id="'r_'+item.class" v-model="ruleItem['rule_'+item.class]">
						<span  v-text="opt.name" :id="'t_'+item.class"></span>
					</template>
				</template>
			</li>
		<input class="r_checkbox" type="checkbox"><span class="r_span">我已阅读并同意《房东规则》、《房源上线标准》</span>
		<input class="button" type="button" value='确认发布' @click="saveComplete">
	</ul>
	</template>

	 <script src='js/vue.js'></script>
	 <script src="js/vuex.js"></script>
	 <script src='js/vue-resource.js'></script>

	 <script src='store/tab-store.js'></script>
	 <script src='store/store.js'></script>
	 
	 <script src="js/tab.js"></script>
	 <script src="js/Hinfo.js"></script>
	 <script src="js/description.js"></script>
	 <script src="js/facilities.js"></script>
	 <script src="js/upload.js"></script>
	 <script src="js/rule.js"></script>

	<script>
		var vm=new Vue({
			el:'#app',
			store:store
		});
	</script>

</body>
</html>