.desc{list-style: none;margin: 0 auto;}
._desc{width: 80%;margin: 0 auto;margin-bottom: 30px;position:relative;}
h3{margin-bottom: 20px;}
hr{margin-bottom: 10px;}
textarea{resize: none;vertical-align: top;}
#r_title{width: 500px;}